# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# dependencies
/node_modules

# misc
.env.local
.env.bak
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.gradle
ios/build
ios/Pods
ios/boboproduction.xcworkspace

android/build

android/app/build
android/app/.cxx
android/app/.externalNativeBuild/**
.DS_Store
android/local.properties
*.apk
downloadlink.png
*.ipa
*.cer
*.p12
#*.mobileprovision
*.certSigningRequest
release
debug
ios/fastlane/report.xml
*.swp
/android/app/.externalNativeBuild/
/android/app/app.iml
*.externalNativeBuild/
build/
*.hprof